@model Lab4.Faculty

@{
    ViewData["Title"] = "Детальніше";
}

<h1>Детальніше</h1>

<div>
    <h4>Факультет</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacultyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Назад до списку факультетів</a>
</div>
