@model Lab4.Person

@{
    ViewData["Title"] = "Редагування";
}

<h1>Редагування</h1>

<h4>Працівник</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="PersonName" class="control-label"></label>
                <input asp-for="PersonName" class="form-control" />
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
            @if (ViewBag.DepartmentName == null)
            {
                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label">Кафедра</label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="DepartmentId" value="@ViewBag.DepartmentId" name="DepartmentId" />
            }
            

            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (ViewBag.DepartmentName == null)
    {
        <a asp-controller="People" asp-action="Index">Назад до списку усіх працівників</a>
    }
    else
    {
        <a asp-action="Index" asp-route-id="@Model.DepartmentId" asp-route-name="@Model.Department.DepartmentName">Назад до списку працівників</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
