@model Lab4.PeoplePosition

@{
    ViewData["Title"] = "Створити посаду";
}

<h1>Створити посаду для працівника</h1>

<h4>Посада для працівника</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="PositionId" class="control-label"></label>
                <select asp-for="PositionId" class ="form-control" asp-items="ViewBag.PositionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finish" class="control-label"></label>
                <input asp-for="Finish" class="form-control" />
                <span asp-validation-for="Finish" class="text-danger"></span>
            </div>

            <input type="hidden" value="@ViewBag.PersonId" name="PersonId" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Назад до списку посад працівника", "Index", new { id = @ViewBag.PersonId, name = @ViewBag.PersonName })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
